{{define "title"}}Home{{end}}

{{define "main"}}
<section class="blog-header">
  <h1>Welcome to Josh's Blog</h1>
  <p class="subtitle">25 years in IT. Thoughts, tutorials, opions. Don't take me srs!</p>
</section>

<section class="blog-list">
  {{if .Posts}}
    {{range .Posts}}
      <article class="card">
        <h2><a href="/posts/{{.Metadata.Slug}}" class="post-title-link">{{.Metadata.Title}}</a></h2>
        <p class="meta">
          Posted on {{humanDate .Metadata.Date}} &middot; {{.Metadata.ReadingDuration}} min read
        </p>
        <div class="tags">
          {{range .Metadata.Tags}}
            <span class="tag">{{.}}</span>
          {{end}}
        </div>
        <p>{{.Metadata.Summary}}</p>
        <a href="/posts/{{.Metadata.Slug}}" class="read-more">Read more &rarr;</a>
      </article>
    {{end}}
  {{else}}
    <h2>No posts found</h2>
  {{end}}
</section>
{{end}}