{{define "title"}}Home{{end}}

{{define "main"}}
  <header class="blog-header">
    <h1>Josh <span class="red-strike">breaks</span> builds stuff</h1>
    <p class="subtitle">
      Welcome to my blog. My name is Josh and I like all things technology. Here you will find all things that interest me that I thought were worth writing about.
      If you found any of it interesting, drop me a line and let me know. Thanks for stopping by!
    </p>
  </header>

  <section class="posts-list" aria-label="Blog posts">
    <h3>Writing</h3>
    <ul>
      {{range .Page.Posts}}
      <li>
        <time class="post-date" datetime="{{.Metadata.Date.Format "2006-01-02"}}">
          {{.Metadata.Date.Format "Jan 2, 2006"}}
        </time>
        <a href="/posts/{{.Metadata.Slug}}">{{.Metadata.Title}}</a>
      </li>
      {{end}}
    </ul>
  </section>
{{end}}